
@use "../abstracts";
.breadcrumb {
  margin-top: 30px;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px 20px 20px;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--background__breadcrumb);
    box-shadow: 0px 20px 60px 10px var(--boxShadow__breadcrumb);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__name {
    white-space: nowrap;
    color: var(--text-color-breadcrumb);
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    @include abstracts.breakpoint(md) {
      font-size: 0.9rem;
    }
    &:hover {
      color: #69b1ff;
      text-decoration: underline;
    }
  }
  &__active {
    color: var(--color-text);
  }
}
