@use "../abstracts";

.favorite-item {
  display: flex;
  align-items: center;
  gap: 20px;
  &__thumb {
    width: 110px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
    @include abstracts.breakpoint(lg) {
      width: 80px;
    }
  }
  &__title {
    color: var(--text-color-main-light);
    max-width: 733px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 146.667%; /**/
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: blue;
    }
  }
  &__desc {
    max-width: 400px;
    margin-top: 10px;
    font-size: 0.8rem;
    color: var(--color-text-2);
  }
  &__content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    @include abstracts.breakpoint(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__price {
    color: var(--color-text-2);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 145.455%; /*  */
  }
}
