
@use "../abstracts";
.title {
  &__title {
    line-height: 148%;
    font-weight: 700;
    font-size: 3rem;
    color: #333;
    -webkit-user-select: none;
    user-select: none;
  }
  &__body {
    margin-top: 30px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  white-space: nowrap;
  transition: all 0.2s ease;
  width: 118px;
  height: 50px;
  font-weight: 500;
  color: var(--color-text);
  @include abstracts.breakpoint(md) {
    width: 100px;
    margin-right: 10px;
  }
}
.btn:hover {
  scale: 1.01;
}
.btn-save {
  background-color: rgb(166 236 171);
  color: rgb(1 123 10);
  width: 100px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-cancel {
  background-color: rgb(255 197 197);
  color: rgb(190, 40, 40);
  width: 100px;
  font-weight: 600;
  letter-spacing: 1px;
}

.form {
  &__group {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  &__profile {
    background: var(--form-profile) !important;
    &::placeholder {
      max-width: 100%;
      margin-top: 18px;
      color: var(--color-text-2);
      font-size: 1rem !important;
      font-weight: 500;
      line-height: 128% !important;
    }
  }
  &__btn {
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2s ease;
    background: #ffb700;
    & a {
      padding: 10px;
      color: var(--main-color-dark);
      @include abstracts.breakpoint(md) {
        color: var(--main-color-white);
      }
    }
    &:hover {
      background: var(--main-color-grey);
    }
  }
  &__cancel {
    border-radius: 9px;
    font-size: 1rem;
    transition: all 0.2s ease;
    background: red;
    & a {
      padding: 10px;
      color: var(--main-color-dark);
      @include abstracts.breakpoint(md) {
        color: var(--main-color-white);
      }
    }
    &:hover {
      background: var(--main-color-grey);
    }
  }
  &__action {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  &__control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background: var(--background-color-main);
    background-clip: padding-box;
    height: 45px;
    border: 1px solid var(--background-color-main);
    border-radius: 0.357rem;
    -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
    color: var(--text-color-main-light);
    font-weight: 600;
    line-height: 100%;
  }
}
.control {
  &__label {
    max-width: 100%;
    margin-top: 18px;
    color: var(--color-text-2);
    font-size: 1rem;
    font-weight: 500;
    line-height: 128%;
  }
}
