.site-description-item-profile-img {
    border-radius: 10px;
    width: 100%;
}

.site-description-item-profile-p {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.avatar-group {
    display:flex;
    align-items:center;
    justify-content:center;
    gap: 10px;
}
