
.layout {
  height: auto;
  background: var(--color-background-layout) !important;
  &__background {
    position: relative !important;
    z-index: 21;
    background: var(--color-background-layout) !important;
    width: 200px !important;
    box-shadow: 0px 40px 90px 20px var(--boxshadow-main);
  }
}
.nav {
  &__item {
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  &__icon {
    user-select: none;
    &--active {
      animation: shake 1s ease infinite;
    }
  }
  &__link {
    color: var(--text-color-main-light) !important;
    font-weight: 400;
    font-size: 1rem;
  }
}
.active {
  font-weight: 600;
  color: var(--text-color-main-light-2);
}
